.player-sidebar{
    background-color: var(--clr-primary-1);
    flex-direction: column;
    height: 100vh;
    width: 15%;
    top: 0;
    left: -100%;
    position: relative;
    padding-bottom: 80px;
    transition:  0.5s;
}

.player-sidebar.active{
    left: 0;
    
}

.player-sidebar-overlay{
  display: none; 
  position: fixed; 
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.548);
  transition:  0.1s;
}

.player-sidebar-overlay.active{
   left: 0;
   display: block;
   
 
}

.player-sidebar-overlay-hide{
    display: none;
    
}

.player-sidebar-nav{
    height: 100%;
    scrollbar-width: none;
    overflow: hidden;
    overflow-x: hidden;
}

.player-sidebar-over{
    overflow-y: scroll;
}



.player-sidebar-over::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}

.player-sidebar-over::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}

.player-sidebar-over::-webkit-scrollbar {
  width: 10px;
}

.player-sidebar-over::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #737272;
  border-radius: 50px;
}



.pg-sidebar-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 10px 20px 15px;

}

.pg-sidebar-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: var(--clr-primary-1)
}

.sidebar-icon:hover{
    background-color: var(--clr-button-hover);

}

.pg-sidebar-logo img{
    width: 90px;
    height: auto;
}
