
.search-video-card{
    display: flex;
    align-items: flex-start;
   
    color: #fff;
    width: 100%;
    padding: 12px;
}

.search-thumbnail{
    
    border-radius: 10px;
    overflow: hidden;
    width: 340px;
    height: 200px;
   
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-thumbnail img{
    width: 340px;
    height: 200px;

}

.search-title-box{
    width: 750px;
}

.search-channel-box{
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 20px;
}

.search-video-name-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-video-name{
    font-size: 18px;
     width: 700px; 
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;

}

.search-description{
    font-size: 12px;
    color: var(--clr-text-2);
}

.search-channel-name-box{
    padding: 15px 0 10px 0;
    display: flex;
    align-items: center;
    
}

.search-channel-thumbnail{
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;
}
.search-channel-thumbnail img{
    
    width: 30px;
}

.search-channel-name{
    color: var(--clr-text-2);
    font-size: 16px;
    font-weight: 300;
    padding-left: 10px;
}

.search-fa-icon{
    font-size: 20px;
}